<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="C:\Users\Segun\Documents\PostIt\template\CSS\bootstrap.min.css" />
<link rel="stylesheet" href = "C:\Users\Segun\Documents\PostIt\template\CSS\style.css"/>
	<title>PostIt!</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">PostIt App</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
	<div class="col-md-12 col-sm-12 col-xs-12">
        <div id="createBroadcast">
            <h2>Create a Broadcast group</h2>

            <input type="text" class="form-control" id="createBroadcast" placeholder="Enter broadcast group name" >
            <input type="submit" value="Create" >
        </div>

        <div id="addRegisteredUsers">

            <h2>Select group </h2>
            
            <h2> Add Users to groups </h2>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Users
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">id1</a></li>
                    <li><a href="#">id2</a></li>
                    <li><a href="#">id3</a></li>
                </ul>

            </div>
        </div>
		
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>