<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="C:\Users\Segun\Documents\PostIt\template\CSS\bootstrap.min.css" />
<link rel="stylesheet" href = "C:\Users\Segun\Documents\PostIt\template\CSS\style.css"/>
	<title>PostIt!</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">PostIt App</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
	<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="registration">
      <h2>PostIt Registration!</h2>
    </div>
    
    	<form>
      <div class="form-group">
        <label for="firstname">Firstname:</label>
        <input type="text" class="form-control" id="firstname" placeholder="Enter First name here">
      </div>
      <div class="form-group">
        <label for="lastname">Lastname:</label>
        <input type="text" class="form-control" id="lastname" placeholder="Enter Lastname here">
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Choose a username!">
      </div>
			<div class="form-group">
				<label for="email-address">Email address</label>
				<input type="email" class="form-control" id="email-address" placeholder="Enter Email Address here">
			</div>
			<div class="form-group">
				<label for="email-password1">Password</label>
				<input type="password" class="form-control" id="email-password1" placeholder="Enter Password here">
			</div>
      <div class="form-group">
				<label for="email-password2">Re-enter Password</label>
				<input type="password" class="form-control" id="email-password2" placeholder="Re-Enter Password here">
			</div>
			<div class="checkbox">
				<label>
			<input type="checkbox"> Remember me</label>
			</div>
      
			<button type="submit" class="btn btn-primary" id="register">Register</button>
		</form>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>