body{
    background-color: lightblue;
    padding: 0;
    margin: 0;
    width: 100%;

}

/*label{
    float: left;
    width: 20%;
}*/

.registration{
    
    text-align: center;
    font-family: fantasy;
    color: darkgreen;

}

.form{
    background-color: lightgreen;
    margin: auto;
    width: 60%;

}
#login{
    text-align: center;
    font-family: fantasy;
    color:  darkgreen;
}


#createBroadcast{
    
}